<template>
    <div>
        <v-app>
            <v-app-bar app color="info" dark>
                <div class="d-flex align-center">
                    <v-toolbar-title><a style="color:white;text-decoration:none" href="/"><v-icon>mdi-arrow-left</v-icon> Regresar</a></v-toolbar-title>
                </div>
                <v-spacer></v-spacer>
                <v-btn href="https://gitlab.com/JeisonRangel/seminario-3.git" target="_blank" text>
                    <span class="mr-2">Repositorio</span>
                    <v-icon>mdi-open-in-n ew</v-icon>
                </v-btn>
            </v-app-bar>

            <v-navigation-drawer app permanent>
                <v-list>
                    <v-subheader>MENU</v-subheader>
                    <v-list-item-group v-model="select">
                        <v-list-item href="/ltreal">
                            <v-list-item-icon>
                                <v-icon class="mr-1">mdi-clock</v-icon>Lectura tiempo real
                            </v-list-item-icon>
                        </v-list-item>
                        <v-list-item href="/historial">
                            <v-list-item-icon>
                                <v-icon class="mr-1">mdi-chart-bar</v-icon>Historial de lecturas
                            </v-list-item-icon>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>

            <v-main>
                <v-container>
                    <v-row>
                        <v-col cols="4">
                            <v-list>
                                <v-subheader>Opciones</v-subheader>
                                <v-list-item-group>
                                    <v-list-item>
                                        <v-list-item-content>
                                            <v-menu ref="menu" :return-value.sync="picker" :close-on-content-click="false" v-model="menu">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field v-on="on" v-bind="attrs" readonly prepend-icon="mdi-calendar" label="Escoja una fecha" v-model="picker">
                                                    </v-text-field>
                                                </template>
                                                <v-date-picker v-model="picker" no-title scrollable>
                                                    <v-spacer></v-spacer>
                                                    <v-btn text color="primary" @click="menu = false">
                                                        Cancelar
                                                    </v-btn>
                                                    <v-btn text color="primary" @click="$refs.menu.save(picker)">
                                                        OK
                                                    </v-btn>
                                                </v-date-picker>
                                            </v-menu>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-list-item>
                                        <v-list-item-content>
                                            <v-menu
                                                ref="menu"
                                                v-model="menu2"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                :return-value.sync="time"
                                                transition="scale-transition"
                                                offset-y
                                                max-width="290px"
                                                min-width="290px"
                                            >
                                                <template v-slot:activator="{ on, attrs }">
                                                <v-text-field
                                                    v-model="time"
                                                    label="Escoja una hora"
                                                    prepend-icon="mdi-clock"
                                                    readonly
                                                    v-bind="attrs"
                                                    v-on="on"
                                                ></v-text-field>
                                                </template>
                                                <v-time-picker
                                                v-if="menu2"
                                                v-model="time"
                                                full-width
                                                @click:minute="$refs.menu.save(time)"
                                                ></v-time-picker>
                                            </v-menu>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-list-item-group>
                            </v-list>
                        </v-col>
                        <v-divider vertical></v-divider>
                        <v-col cols="7">
                            <grafica style=""></grafica>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col class="mt-5" cols="4" offset="4">Hecho en vuetify</v-col>
                    </v-row>
                </v-container>
            </v-main>

        </v-app>
    </div>
</template>
<script>
import grafica from '@/components/grafica.vue'
export default {
    name: 'HistorialLecturas',
    components:{grafica},
    data: function () {
        return {
            select: 1,
            menu: false,
            menu2: false,
            picker: new Date().toISOString().substr(0, 10),
            time: null,
        }
    },
    methods:{
    }
}
</script>