<template>
    <div>
        
        <v-app>
            <v-app-bar app color="info" dark>
                <div class="d-flex align-center">
                    <v-toolbar-title>Inicio</v-toolbar-title>
                </div>
                <v-spacer></v-spacer>
                <v-btn href="https://gitlab.com/JeisonRangel/seminario-3.git" target="_blank" text>
                    <span class="mr-2">Repositorio</span>
                    <v-icon>mdi-open-in-n ew</v-icon>
                </v-btn>
            </v-app-bar>

            <v-navigation-drawer app permanent>
                <v-list>
                    <v-subheader>Opciones</v-subheader>
                    <v-list-item-group>
                        <v-list-item href="/ltreal">
                            <v-list-item-icon>
                                <v-icon class="mr-1">mdi-clock</v-icon>Lectura tiempo real
                            </v-list-item-icon>
                        </v-list-item>
                        <v-list-item href="/historial">
                            <v-list-item-icon>
                                <v-icon class="mr-1">mdi-chart-bar</v-icon>Historial de lecturas
                            </v-list-item-icon>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>

            <v-main>
                <v-container>
                    <v-row style="margin-top:15%">
                        <v-col cols="4" offset="4" style="text-align:center">
                            <v-icon class="animate__animated animate__pulse animate__infinite" style="font-size:6rem">mdi-soundcloud</v-icon>
                            <v-divider inset></v-divider>
                            <div class="text-h5">
                                Sistema de monitoreo de contaminacion auditiva
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>
</template>
<script>
export default {
    name: 'Inicio'
}
</script>