<template>
    <div>
        <v-app>
            <v-app-bar app color="info" dark>
                <div class="d-flex align-center">
                    <v-toolbar-title><a style="color:white;text-decoration:none" href="/"><v-icon>mdi-arrow-left</v-icon> Regresar</a></v-toolbar-title>
                </div>
                <v-spacer></v-spacer>
                <v-btn href="https://gitlab.com/JeisonRangel/seminario-3.git" target="_blank" text>
                    <span class="mr-2">Repositorio</span>
                    <v-icon>mdi-open-in-n ew</v-icon>
                </v-btn>
            </v-app-bar>

            <v-navigation-drawer app permanent>
                <v-list>
                    <v-subheader>MENU</v-subheader>
                    <v-list-item-group v-model="select">
                        <v-list-item href="/ltreal">
                            <v-list-item-icon>
                                <v-icon class="mr-1">mdi-clock</v-icon>Lectura tiempo real
                            </v-list-item-icon>
                        </v-list-item>
                        <v-list-item href="/historial">
                            <v-list-item-icon>
                                <v-icon class="mr-1">mdi-chart-bar</v-icon>Historial de lecturas
                            </v-list-item-icon>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>

            <v-main>
                <v-container>
                    <v-row>
                        <v-col cols="4">
                            <v-list>
                                <v-subheader>Sectores</v-subheader>
                                <v-list-item-group>
                                    <v-list-item>
                                        <v-list-item-icon>
                                            <v-icon class="mr-1">mdi-map</v-icon>Sector 1
                                        </v-list-item-icon>
                                    </v-list-item>
                                    <v-list-item>
                                        <v-list-item-icon>
                                            <v-icon class="mr-1">mdi-map</v-icon>Sector 2
                                        </v-list-item-icon>
                                    </v-list-item>
                                    <v-list-item>
                                        <v-list-item-icon>
                                            <v-icon class="mr-1">mdi-map</v-icon>Sector 3
                                        </v-list-item-icon>
                                    </v-list-item>
                                </v-list-item-group>
                            </v-list>
                        </v-col>
                        <v-divider vertical></v-divider>
                        <v-col cols="7">
                            <grafica style=""></grafica>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col class="mt-5" cols="4" offset="4">Hecho en vuetify</v-col>
                    </v-row>
                </v-container>
            </v-main>

        </v-app>
    </div>
</template>
<script>
import grafica from '@/components/grafica.vue'
export default {
    name: 'LecturaTiempoReal',
    components:{grafica},
    data: function () {
        return {
            select: 0,
        }
    },
    methods:{
    }
}
</script>